@import "tailwindcss";

@theme{
  --color-primary: #E44B55
}

html {
  scroll-behavior: smooth;
}



@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;  }
}



